* {
  padding: 0;
  margin: 0;
}

html,
body {
  background: url("./Assets/backLarge.jpg") repeat-y center center;
  /*background: aqua;*/
  height: 100vh;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
